<ion-header>
  <ion-navbar hideBackButton="true" color="violet">
    <ion-title>
      <span style="color: #f4f4f4;">Compte</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content">
  <ion-list>
    <ion-item text-center>
      <img src="assets/imgs/hilogo.jpg" class="profileImage"/>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Votre nom</ion-label>
      <ion-input ng-model="this.global.profile_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Votre nom</ion-label>
      <ion-input ng-model="this.global.profile_name"></ion-input>
   </ion-item>
  </ion-list>
  <div text-center>
    <button ion-button round color="orange">Valider</button>
  </div>
</ion-content>
