
page-home {
  #background {
    background-color: $hiliveviolet;
  }
  .signupbtn {
    background-color: $hiliveorange;
  }
  #homelogo {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .no-scroll .scroll-content{
    overflow: hidden;
  }
}
