$backcolor: #211C32;
$connect-color: #d8d8d8;
$signup-color: #55b0b5;

page-home {
  #background {
    background-color: $backcolor;
  }
  #signupbtn {
    background-color: $signup-color;
  }
  #homelogo {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
