$background-color: #211C32;
$signup-color: #b56655;

page-home {
  #background {
    background-color: $background-color;
  }
  #signupbtn {
    background-color: $signup-color;
  }
  #homelogo {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
