
page-sales{
  .saleImage {
    width: 100%;
    height: 180px;
  }
  .grid-full ion-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col {
    padding: 5px 0;
    max-width: 50%;
  }
  p{
    text-align: center;
  }
  .salePrice {
    margin-top: 10px;
    font-size: 0.9em;
  }
  .pagesDots{
    text-align: center;
    width: 100%;
    height: 40px;

    ion-icon {
      font-size: 30px;
    }
  }

}
