<ion-header>
  <ion-navbar hideBackButton="true" color="violet">
    <ion-title>
      <span style="color: #f4f4f4;">Promotions</span>
    </ion-title>
    <button ion-button icon-only round color="orange" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only round color="orange" (click)="showFiltersPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <h1 *ngIf="tab === 0">
    <div style="text-align: center;">Magasins</div>
    <button ion-button icon-only clear *ngIf="tab === 0" style="float: right;">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </h1>
  <h1 *ngIf="tab === 1">
    <div style="text-align: center;">Promotions</div>
    <button ion-button icon-only clear *ngIf="tab === 1"  style="float: left;">
    <ion-icon name="arrow-back"></ion-icon>
  </button>
  </h1>
  <div *ngIf="tab === 0">
    <div *ngFor="let shop of res_shops" (swipe)="swipeEvent($event)">
      <ion-card class="saleCard" (click)="showShopPage(shop.id)">
        <img src="assets/imgs/logo.png" class="saleImage"/>
        <ion-card-content>
          <ion-card-title class="saleTitle">{{shop.name}}</ion-card-title>
          <h2>{{shop.address}}</h2>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div *ngIf="tab === 1">
    <div *ngFor="let sale of sales" (swipe)="swipeEvent($event)">
      <ion-card class="saleCard" (click)="showOnMap(sale.shop)">
        <img src="assets/imgs/logo.png" class="saleImage"/>
        <ion-card-content>
          <ion-card-title class="saleTitle">{{sale.name}}</ion-card-title>
          <h2>{{sale.shop}}</h2>
          <p style="margin-top: 10px">{{sale.finalprice}} au lieu de {{sale.baseprice}}
          <span style="padding-left: 10px"></span><ion-icon name="pricetag"></ion-icon> {{sale.discount}}
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
